<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/quantum_retail_pro?useSSL=false</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Vheshan37@37</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <mapping class="com.qb.app.model.entity.Brand"/>
        <mapping class="com.qb.app.model.entity.CashWithdrawal"/>
        <mapping class="com.qb.app.model.entity.CloseSale"/>
        <mapping class="com.qb.app.model.entity.Company"/>
        <mapping class="com.qb.app.model.entity.Costing"/>
        <mapping class="com.qb.app.model.entity.Ctrl"/>
        <mapping class="com.qb.app.model.entity.Customer"/>
        <mapping class="com.qb.app.model.entity.CustomerHasInvoice"/>
        <mapping class="com.qb.app.model.entity.Damage"/>
        <mapping class="com.qb.app.model.entity.DamageItem"/>
        <mapping class="com.qb.app.model.entity.DiscountType"/>
        <mapping class="com.qb.app.model.entity.DistributeType"/>
        <mapping class="com.qb.app.model.entity.Employee"/>
        <mapping class="com.qb.app.model.entity.EmployeeRole"/>
        <mapping class="com.qb.app.model.entity.EmployeeRoleHasInterface"/>
        <mapping class="com.qb.app.model.entity.EmployeeRoleType"/>
        <mapping class="com.qb.app.model.entity.EmployeeStatus"/>
        <mapping class="com.qb.app.model.entity.Grn"/>
        <mapping class="com.qb.app.model.entity.GrnItem"/>
        <mapping class="com.qb.app.model.entity.Invoice"/>
        <mapping class="com.qb.app.model.entity.InvoiceItem"/>
        <mapping class="com.qb.app.model.entity.InvoiceItemType"/>
        <mapping class="com.qb.app.model.entity.License"/>
        <mapping class="com.qb.app.model.entity.Location"/>
        <mapping class="com.qb.app.model.entity.LocationReturn"/>
        <mapping class="com.qb.app.model.entity.LocationReturnItem"/>
        <mapping class="com.qb.app.model.entity.LocationReturnType"/>
        <mapping class="com.qb.app.model.entity.PaymentMethod"/>
        <mapping class="com.qb.app.model.entity.Product"/>
        <mapping class="com.qb.app.model.entity.ProductDistribute"/>
        <mapping class="com.qb.app.model.entity.ProductDistributeHasLocation"/>
        <mapping class="com.qb.app.model.entity.ProductDistributeItem"/>
        <mapping class="com.qb.app.model.entity.ProductStatus"/>
        <mapping class="com.qb.app.model.entity.ProductType"/>
        <mapping class="com.qb.app.model.entity.ProductUnit"/>
        <mapping class="com.qb.app.model.entity.Refund"/>
        <mapping class="com.qb.app.model.entity.RefundItem"/>
        <mapping class="com.qb.app.model.entity.RefundStatus"/>
        <mapping class="com.qb.app.model.entity.Session"/>
        <mapping class="com.qb.app.model.entity.Stock"/>
        <mapping class="com.qb.app.model.entity.StockAdjustment"/>
        <mapping class="com.qb.app.model.entity.StockAdjustmentItem"/>
        <mapping class="com.qb.app.model.entity.Store"/>
        <mapping class="com.qb.app.model.entity.Supplier"/>
        <mapping class="com.qb.app.model.entity.SupplierDamageReturn"/>
        <mapping class="com.qb.app.model.entity.SupplierDamageReturnItem"/>
        <mapping class="com.qb.app.model.entity.SupplierOrder"/>
        <mapping class="com.qb.app.model.entity.SupplierOrderItem"/>
        <mapping class="com.qb.app.model.entity.SupplierStatus"/>
        <mapping class="com.qb.app.model.entity.SupplyDamageReturnStatus"/>
        <mapping class="com.qb.app.model.entity.System"/>
    </session-factory>
</hibernate-configuration>