.primary-gradient{
    -fx-background-color: linear-gradient(to bottom, #243B55, #141E30);
}

.primary-white{
    -fx-text-fill: #f1f1f1;
}

.admin-primary-blue{
    -fx-text-fill: #2F54FE;
}

.text-field-label{
    -fx-text-fill: #2C58A6;    
}

.tooltip {
    -fx-background-color: #3278fa;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.sub-menu-item{
    -fx-background-radius: 4px 4px 4px 4px;
}

.sub-menu-item:hover{
    -fx-background-color: rgba(241, 241, 241, 0.1);
}

.primary-border{
    -fx-border-color: #2C58A6;
    -fx-border-width: 0.5px;
    -fx-border-style: solid;
    -fx-border-radius: 4px;
}

.bg-transparent{
    -fx-background-color: transparent;
}

.text-field {
    -fx-border-color: #2C58A6;
    -fx-border-width: 0.5px;
    -fx-border-style: solid;
    -fx-border-radius: 4px;
    -fx-text-fill: #2C58A6;
    -fx-background-color: transparent;
}

.combo-box .list-cell {
    -fx-text-fill: #2C58A6;
}

.button-primary{
    -fx-background-color: #2C58A6;
}

.button-primary-outline{
    -fx-background-color: transparent;
    -fx-text-fill: #2C58A6;
    -fx-border-color: #2C58A6;
    -fx-border-width: 0.5px;
    -fx-border-style: solid;
    -fx-border-radius: 4px;
}

.full-width-button {
    -fx-max-width: infinity;
}