.primary-gradient{
    -fx-background-color: linear-gradient(to top, #000428, #004E92);
}

.primary-gradient-toLeft{
    -fx-background-color: linear-gradient(to left, #000428, #004E92);
}

.black-gradient{
    -fx-background-color: linear-gradient(to bottom, #434343, #000000);
}

.green-gradient{
    -fx-text-fill: linear-gradient(to bottom, #237A57, #093028);
}

.primary-gradient-50{
    -fx-background-color: linear-gradient(to top, hsba(220, 100%, 16%, 0.5), hsba(204, 100%, 57%, 0.5));
}

.primary-text{
    -fx-text-fill: #004E92;
}

.system-login-left-panel{
    -fx-background-radius: 0px 10px 10px 0px;
}

.primary-white{
    -fx-text-fill: #f1f1f1;
}

.primary-white-50{
    -fx-text-fill: rgba(241, 241, 241, 0.5);
}

.bg-white{
    -fx-background-color: #fff;
}

.full-width-button {
    -fx-max-width: infinity;
}

.button-gradient {
    -fx-background-color: linear-gradient(to left, #000428, #004E92);
}

.button-transparent{
    -fx-background-color: transparent;
}

.bg-primary-white-10{
    -fx-background-color: rgba(241, 241, 241, 0.1);
}

.bg-primary-white-10:hover{
    -fx-background-color: rgba(241, 241, 241, 0.2);
}

.btn-white-hover:hover{
    -fx-background-color: #E4E4E4;
}

.outline-icon{
    -fx-fill: none;
}